@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  src: url(/fonts/Manrope.woff2) format('woff2');
}

@layer base {
	:root {
		--hue: 240deg;
		scroll-behavior: smooth;
	}

	body {
		@apply bg-background text-foreground font-primary text-base;
	}

	* {
		@apply border-border
	}

	::-webkit-scrollbar {
		width: 10px;
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-background-secondary;

		border-radius: 10px;
	}
}

.pound-icon {
  display: inline-block;
	position: relative;
}

.pound-icon::after {
  animation: shine 5s ease-in-out  infinite;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

@layer utilities {
	.animate-underline {
		display: inline-block;
		position: relative;
	}

	.animate-underline::after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		border-radius: 10px;
		left: 0;
		background-color: currentColor;
		transform-origin: bottom right;
		transition: transform 0.25s ease-out;
	}

	.animate-underline:hover::after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}
}

@keyframes shine{
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
  }
}